<h1>FAQ Page</h1>
	<ul>
		<p>
			<li><strong>Q: Is there a free version?</strong></li>
			<li>A: Yes! We offer a free trial for 30 days.</li>
		</p>
		<p>
			<li><strong>Q: What are your support hours?</strong></li>
			<li>A: We have support staff....</li>
		</p>
		<p>
			<li><strong>Q: How do I contact support?</strong></li>
			<li>A: Email us - <a href="mailto:support@lenslocked.com">support@lenslocked.com</a></li>
		</p>
	</ul>